{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macro.html" as macros %}

{% block metas %}
    {{super()}}
    <meta charset="UTF-8">
{% endblock metas %}
{% block content %}
    <div>{% include 'operator/agent/_agents.html' %}</div>
    <div><button id="addagent" name="addagent" onclick="addagent()">添加代理券商</button>
        <button id="editagent" name="editagent" onclick="editagent()">编辑代理券商</button>
        <button id="delagent" name="delagent" onclick="delagent()">删除代理券商</button></div>
    </div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.agent') }}
</div>
{% endif %}

<div>
    {% for baseconfigid in baseconfigids%}

    <p><a href="{{url_for('main.baseconfig')}}/{{ baseconfigid }}" target="right">基础配置文件：{{ baseconfigid }}</a></p>

    {% endfor%}
</div>
{% endblock content%}

{% block scripts %}
{{ super() }}
<script>
    function addagent(){
    window.location.href='{{url_for('operator.addagent')}}';
    }

    function delagent(){
    agentid = $('tbody input:checkbox:checked').attr("id");
    if( agentid == null){
        alert('pleace choose the line you wanna delete');
        }
    else {
    window.location.href = '{{ url_for('operator.delagent')}}?agentid=' + agentid;
        }
    }

    function editagent(){
    agentid = $('tbody input:checkbox:checked').attr("id");
    if( agentid == null){
        alert('pleace choose the line you wanna edit');
        }
    else {
    window.location.href = '{{ url_for('operator.editagent')}}?agentid=' + agentid;
        }
    }

        function ischeckall(){
    $("#checkall").change(function(){
        let otherCheckList = $("div tbody input[type='checkbox']");
        let checkAllStatus = $("#checkall").prop("checked");
        otherCheckList.prop("checked",checkAllStatus);
    });
    }

    function listencheckbox(){
    $('div table tbody input[type="checkbox"]').on('change',function(){
    let total = $('div table tbody input[type="checkbox"]').length;
    let active = $('div table tbody input[type="checkbox"]:checked').length;
    $('table thead input[type="checkbox"]').get(0).checked = (total === active);
    });
    }

    window.onload = function(){
    var i = 0;
    trlength = $('tbody tr').length;
    for(i;i<trlength;i++){
        numtd = $('tbody tr')[i].cells[1];
        numtd.innerText = i + 1;
    }
    };
</script>
{% endblock %}