{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macro.html" as macros %}


{% block content %}
<ul class="nav nav-tabs">
	<li><a href="{{url_for('operator.stock')}}" target="right">证券信息</a></li>
	<li><a href="{{url_for('operator.splitbase')}}" target="right">基本路由</a></li>
	<li class="active"><a href="{{url_for('operator.splitdetail')}}" target="right">详细路由</a></li>
</ul>

    <div>{% include 'operator/splitdetail/_splitdetails.html' %}</div>
    <div><button id="addsplitdetail" name="addsplitdetail" onclick="addsplitdetail()">添加详细路由</button>
        <button id="editsplitdetail" name="editsplitdetail" onclick="editsplitdetail()">编辑详细路由</button>
        <button id="delsplitdetail" name="delsplitdetail" onclick="delsplitdetail()">删除详细路由</button></div>
    </div>
    {% if pagination %}
    <div class="pagination">
    {{ macros.pagination_widget(pagination, '.splitdetail') }}
    </div>
    {% endif %}
<!--
<div><p><a href="{{url_for('operator.stock')}}">返回首页：证券信息</a></p></div>
<div><p><a href="{{url_for('operator.splitbase')}}">返回上一步：基本路由</a></p></div>
-->
{% endblock content%}

{% block scripts %}
{{ super() }}
<script>
    function addsplitdetail(){
    window.location.href='{{url_for('operator.addsplitdetail')}}';
    }

    function delsplitdetail(){
    zqdm = $('tbody input:checkbox:checked').attr("id");
    if( zqdm == null){
        alert('pleace choose the line you wanna delete');
        }
    else {
    window.location.href = '{{ url_for('operator.delsplitdetail')}}?zqdm=' + zqdm;
        }
    }

    function editsplitdetail(){
    zqdm = $('tbody input:checkbox:checked').attr("id");
    if( zqdm == null){
        alert('pleace choose the line you wanna edit');
        }
    else {
    window.location.href = '{{ url_for('operator.editsplitdetail')}}?zqdm=' + zqdm;
        }
    }

        function ischeckall(){
    $("#checkall").change(function(){
        let otherCheckList = $("div tbody input[type='checkbox']");
        let checkAllStatus = $("#checkall").prop("checked");
        otherCheckList.prop("checked",checkAllStatus);
    });
    }

    function listencheckbox(){
    $('div table tbody input[type="checkbox"]').on('change',function(){
    let total = $('div table tbody input[type="checkbox"]').length;
    let active = $('div table tbody input[type="checkbox"]:checked').length;
    $('table thead input[type="checkbox"]').get(0).checked = (total === active);
    });
    }

    window.onload = function(){
    var i = 0;
    trlength = $('tbody tr').length;
    for(i;i<trlength;i++){
        numtd = $('tbody tr')[i].cells[1];
        numtd.innerText = i + 1;
    }
    };
</script>
{% endblock %}