{% extends "bootstrap/base.html"%}
{% import "_macro.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}oprationlog{% endblock %}

{% block content %}
<div>{{wtf.quick_form(form)}}</div>
<div><input type="button" class="btn btn-default" name="reset" value="reset" id="reset" onclick="reset()"></div>
<div>{% include 'operator/log/_logs.html' %}</div>

{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.operatorlog') }}
</div>
{% endif %}
{% endblock content%}

{%block scripts%}
{{super()}}
<script>
    function reset(){
   document.getElementById('filetype').value='';
   document.getElementById('filename').value='';
   document.getElementById('actiontype').value='';
   document.getElementById('user').value='';
   document.getElementById('ip').value='';
    }
</script>
{% endblock%}