{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
     dbfsync
{% endblock title%}

{% block content %}
{%if current_user.is_admin%}
<div>
    {{ wtf.quick_form(form) }}
</div>
<div>
    <br>
    <input class="btn btn-default" type="button" name="cancel" value="取消" onclick="cancel()">
</div>
{% endif%}
{% endblock content%}

{% block scripts %}
{{super()}}
<script>
window.onload = function(){
    baseconfigid = document.getElementById('id');
    baseconfigid.readOnly = 'readonly';
};

function cancel(){
    window.location.href = '{{url_for('main.right')}}';
}

</script>
{% endblock scripts %}
