{% extends "bootstrap/base.html"%}

{% block title%} B2H配置管理系统 {% endblock title%}

{% block navbar %}
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" }}>B2H配置管理系统</a>
    </div>
    <div>
        <ul class="nav navbar-nav navbar-right">
            {% if  current_user.is_authenticated %}
            <li><a href="#">{{ current_user.username }}</a></li>
            <li><a href="{{ url_for('auth.edit_profile') }}" target="right">修改资料</a></li>
            <li><a href="{{ url_for('auth.change_password') }}" target="right">修改密码</a></li>
            <li><a href="{{ url_for('auth.logout')}}" target="_top" onclick="return exit()">退出</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>
{% endblock navbar%}

{% block content%}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
{% endblock content%}


{% block scripts %}
{{ super() }}
<script>
    function exit(){
    var msg = confirm('确定退出系统吗？');
    if(msg){
        return true;
    }
    else{
        return false;
    }
    }
</script>
{% endblock %}