<table class="table table-bordered">
  <caption>证券信息</caption>
  <thead>
    <tr>
        <th><input type="checkbox" id="checkall" name="checkall" onclick="ischeckall();listencheckbox()"></th>
        <th>序号</th>
        <th>证券代码</th>
        <th>证券简称</th>
        <th>其他信息</th>
        <th>最后更新时间</th>
    </tr>
  </thead>
  <tbody>
  {% for stock in stocks %}
    <tr name="{{stock.zqdm}}">
        <td><input type="checkbox" id="{{stock.zqdm}}" name="{{stock.zqdm}}" ></td>
        <td>document.getElementById('{{stock.stock}}').parentElement.parentElement.rowIndex</td>
        <td>{{stock.zqdm}}</td>
        <td>{{stock.stkabbr}}</td>
        <td>{{stock.info}}</td>
        <td>{{stock.lastupdate.strftime('%Y-%m-%d %H:%M:%S')}}</td>
    </tr>
  {%endfor%}
  </tbody>
</table>