<table class="table table-bordered">
    <tr>
        <th>filename</th>
        <th>actiontype</th>
        <th>actioncontent</th>
        <th>ip</th>
        <th>user</th>
        <th>actiontime</th>
    </tr>
{% for log in logs %}
    <tr>
        <td>{{log.filename}}</td>
        <td>{{log.actiontype}}</td>
        <td>{{log.actioncontent}}</td>
        <td>{{log.remote_addr}}</td>
        <td>{{log.user}}</td>
        <td>{{log.actiontime.strftime('%Y-%m-%d %H:%M:%S')}}</td>
    </tr>
{% endfor%}
</table>